/** 
 *  This CSS provides all the style settings for
 *  our JavaFX controls.
 *
 *  @author McKilla Gorilla & Wilson Tang
 */
.root{
    -fx-background-color: FFFF66;
    -fx-font-size:20;
}
.slide_show_edit_vbox {
    -fx-spacing:20;
    -fx-alignment:CENTER;
}

.slide_edit_view {
    -fx-font-family:"Comic Sans MS";
    -fx-padding:50 50 50 50;
    -fx-background-radius: 10.0;
    -fx-background-color: FFFF99;
    -fx-border-color: rgb(70, 5, 5);
    -fx-border-thickness: 10px;
    -fx-spacing: 60px;
    
}
.slide_edit_view_selected {
    -fx-font-family:"Comic Sans MS";
    -fx-padding:50 50 50 50;
    -fx-background-radius: 10.0;
    -fx-background-color: FFFF99;
    -fx-border-color: rgb(70, 5, 5);
    -fx-border-thickness: 10px;
    -fx-spacing: 60px;
    -fx-effect: innershadow( gaussian , rgba(25,25,112,0.5) , 50,.5,0,0 );
    
}
.vertical_toolbar_button {
    -fx-background-color: FFCC33;
    -fx-padding: 10px 10px 10px 10px;
    -fx-border-color: rgb(70, 5, 5);
    -fx-border-thickness: 10px;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}

.horizontal_toolbar_button {
    -fx-background-color: FFCC33;
    -fx-padding: 10px 10px 10px 10px;
    -fx-border-color: rgb(70, 5, 5);
    -fx-border-thickness: 10px;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}
.workspace{
    -fx-alignment:center;
    -fx-spacing:50;
    -fx-padding:10 10 10 10;
}
.flowpane{
    -fx-padding:10 10 10 10;
    -fx-alignment:center;
    -fx-hgap:15;
}
.slide_vbox{
    -fx-padding:10 10 10 10;
    -fx-background-color:FFCC00;
    -fx-border-color: rgb(70, 5, 5);
    -fx-border-thickness: 10px;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}
.prompts{
    -fx-padding:50 50 50 50;
    -fx-alignment:CENTER;
}