/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 9, 2015, 10:09:52 PM
    Author     : Wilson
*/
#base{
    background-color:#00FFCC;
    border-color: firebrick;
    border-width: 100px;
    height: 100%;
    width:100%;
    position:absolute;
}
#header {
     position:relative;
     font-family: 'Brush Script MT', cursive;
     padding: 10px 10px 10px 40px;
     background-color:#66CCCC;
     border-color: rgb(50, 5, 5);
     font-size: 550%;
}
#caption {
     position:relative;
     background-color:#00CC99;
     border-color: rgb(70, 5, 5);
     font-size: 200%;
     text-align:center;
     padding: 10px 10px 10px 10px;
     font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
     height:40px;
}
#imageDiv {
     //background-radius: 10.0;
     position:relative;
     padding-top: 40px;
     background-color: #00FFCC;
     border-color: rgb(70, 5, 55);
     text-align:center;
     height:540px;
}
#buttons {
     background-color: #00CCCC;
     padding: 10px 10px 10px 10px;
     text-align:center;
     position:relative;
}
#previous{
    background-color: #00CCCC;
    width: 3em;
}
#next{
    background-color: #00CCCC;
    width: 3em;
}
#playpause{
    background-color: #00CCCC;
    width: 4em;
}
img{
    margin:auto;
    max-height: 500px;
    box-shadow: 10px 10px 5px #888888;
}